body {
  background-color: #EAF6F6;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

H1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 400%;
}

H2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}
H2:hover {
  color: gold;
}

H3 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}
H3:hover {
  color: gold;
}

/*  CLASS Selectors */
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.middle-container {
}
.bottom-container {
}
